/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sito */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f8f9;
}

/* Intestazione */
header {
    div{
        background-color: #ffffff;
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 35px;
        font-weight: bold;
    }
}

/* Corpo */
main {
    background-color: #ffffff;
    margin-left: 170px;
    margin-right: 170px;
    margin-top: 40px;
}

/* Primo contenitore */
.primo {
    padding-top: 30px;
    padding-bottom: 9px;
    padding-left: 52px;
    margin-bottom: 9px;
    
}

.task {
    background-color: #14aaf5;
    padding: 9px;
    color: #ffffff;
    border-radius: 7px;
}

.section{
    border: 1px solid;
    border-color: #c4cbd0;
    padding: 9px;
    color: #c4cbd0;
    border-radius: 7px;
}
/* Divisore */
.divisore {
    background-color: #f6f8f9;
    padding-bottom: 3px;
    border-bottom: 0px;
}

/* New Task */
.elenco{
    padding-top: 35px;
    padding-bottom: 35px;
    color: #434851;
    padding-left: 50px;
}

.new{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 0px;
}

.check{
    display: inline;
    border: 1px solid;
    border-color: #2dc6ab;
    border-radius: 20px;
    color: #2dc6ab;
    padding-left: 2.95px;
    padding-right: 2.95px;
}

