/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sito */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f8f9;
}

/* Intestazione */
header {
    div{
        background-color: #ffffff;
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 35px;
        font-weight: bold;
    }
}

/* Corpo */
main {
    background-color: #ffffff;
    margin-left: 170px;
    margin-right: 170px;
    margin-top: 40px;
}